<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/index :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <h1>Guestbook modify Page</h1>

    <form th:action="@{/guestbook/modify}" method="post">
    <div class="form-group">
      <label for="bno">bno</label>
      <input type="text" class="form-control" name="bno" placeholder="bno" id="bno" th:value="${dto.bno}" readonly="readonly">
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title" placeholder="title" id="title" th:value="${dto.title}" >
    </div>
    <div class="form-group">
      <label>Content</label>
      <textarea class="form-control" name="content" placeholder="Content" >[[${dto.content}]]</textarea>
    </div>
    <div class="form-group">
      <label>Writer</label>
      <input type="text" class="form-control" name="writer" placeholder="Writer" th:value="${dto.writer}"  readonly="readonly">
    </div>
    <div class="form-group">
      <label>regDate</label>
      <input type="text" class="form-control" name="regDate" placeholder="regDate" th:value="${dto.regDate}"  readonly="readonly">
    </div>
      <input type="hidden" name="page" th:value="${pageDto.page}" />
      <input type="hidden" name="size" th:value="${pageDto.size}" />
      <input type="hidden" name="type" th:value="${requestDto.type}" />
      <input type="hidden" name="keyword" th:value="${requestDto.keyword}" />
      <button type="submit" class="btn btn-primary my-2" onclick="return confirm('수정?')">MODIFY</button>
      <button type="submit" class="btn btn-danger my-2" formaction="remove" onclick="return confirm('삭제?'); if(result) {document.querySelector('[name=page]').value=1;} return result;">REMOVE</button>
      <a th:href="@{/guestbook/list(page = ${pageDto.page}, size = ${pageDto.size}, type=${requestDto.type}, keyword=${requestDto.keyword})}" class="btn btn-warning my-2 ">List</a>

    </form>

  </th:block>
</th:block>
</html>